*Bot
*Test
Visualizer
botviz
botviz2
botviz3
combat
diffuse
payoff
perm
bitsetsz
visualizer-old
forktest
plot
*viz
*.o
*.zip
debug.txt
plot.txt
bug*.txt
inf*.txt
lefty.txt
time.txt
tools/
game_logs/
*~
.RData
.Rhistory
temp.cc
trainer
